<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="css/pico.min.css">
    <title>Home page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
</head>
<body style="margin:40px">
<header>
    <nav>
        <a href="/index">Home Page</a>
        <a href="/information">Information</a>
        <a href="/register">Register</a>
    </nav>
</header>

<h1>Home Page<h1/>
    <div>
       This is my Home Page
        <div/>
<form th:action="@{/register}" method="GET">

            <button type="submit">Register</button>
            <form/>

<form th:action="@{/logout}" method="POST">

    <button type="submit">Logout</button>
    <form/>
</body>
</html>